* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #e9c46a;
}

header h1 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 250px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

header p {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.book-container{
    display: flex;
    flex-direction: column;
} 

.book-container img{
    width: 50%;
    align-self: center;
    border-radius: 30px;

}
article{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}




article h3 {
  font-weight: bold;
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  /* font-weight: 300; */
  line-height: 32px;
  margin: 0 0 72px;
  margin-bottom: 5px;
  text-align: center;
}

article h3 a{
    text-decoration: none;
    color: #111;
}

article p{
    
    align-self: center;
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}